@import '../assets/css/color.css';
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #144362;
}

/* Core Body */

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-size: 11px;
    color: var(--text-color);
}

/* Row column header */

.TableHeader {
    padding: 1rem;
}

.Row-thead {
    display: grid;
    grid-template-columns: repeat(12, minmax(60px, 1fr));
    text-transform: uppercase;
    padding: 0 0.6rem;
    border-bottom-width: 0.2rem;
    border-bottom-style: outset;
    border-bottom-color: inherit;
}

.Row-td {
    padding: 8px 2px;
    font-size: 0.8rem;
    text-align: center;
}

/* filters */

.filter-row {
    display: grid;
    grid-template-columns: repeat(12, minmax(60px, 1fr));
    grid-gap: 0.2rem 0.2rem;
}

.MuiFormHelperText-root {
    color: inherit !important;
}

.MuiInputBase-input {
    color: inherit !important;
    font-size: 0.9rem !important;
}

/* EditForm */

.edit-row-container {
    margin: 0 0 0.2rem 0;
}

.edit-row-wrapper {
    display: grid;
    grid-template-columns: repeat(12, minmax(60px, 1fr));
    grid-gap: 0.2rem 0.2rem;
}

.EditForm-td {
    padding: 0.5rem;
    background-color: var(--editform-bg-color);
    border: 0.2px solid var(--deeper-grey-color);
    font-size: 0.9rem;
}

.sort-btn {
    display: flex;
    justify-content: space-evenly;
}

/* Row Foooter */

.Row-tfooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Row-tfooter li {
    list-style-type: none;
}

/* react swith button */

.react-switch {
    margin: 0.8rem;
}

/* select */

select option {
    margin: 40px;
    background: #110000;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.EditForm-status option[value='B'] {
    background: #00ff;
}

option[value='G'] {
    background: #217346;
}

option[value='R'] {
    background: #ff0000;
}