@import '../../assets/css/color.css';

.form-container {
    background-color: var(--bg-color);
    opacity: 1;
    max-width: 40em;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2100;
    border-radius: 0.25em;
    margin: 0 auto;
    padding: 2em;
}

.form-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1.2em;
    width: 83%;
    margin: 0 auto;
}

.form-header {
    text-align: center;
}

.form-field-wrap {
    display: flex;
    justify-content: flex-end;
}

.form-error {
    color: var(--red-color);
    text-align: right;
}

.form-field-wrap input {
    font: inherit;
    padding-left: 0.5em;
    border-radius: 0.25em;
    width: 15em;
    color: var(--text-color);
    font-size: 1rem;
}

.form-field-wrap label {
    font: inherit;
    margin-right: 3em;
    padding: 0.35em;
    color: inherit;
    font-size: 1rem;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

.button-wrapper-submit {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.btn {
    padding: 0.5em;
    background-color: var(--form-primary-button-color);
}

.btn:hover {
    cursor: pointer;
}

.btn.submit {
    background-color: var(--form-secondary-button-color);
}
