:root {
    --grey-color: #f3f2f1;
    --deeper-grey-color: #cdcdcd;
    --green-color: #217346;
    --blue-color: #00ff;
    --red-color: #ff0000;
    --black-color: #110000;

    --bg-color: #fff;
    --text-color: #110000;
    --editform-bg-color: #f3f2f1;
    --form-primary-button-color: #ed6930;
    --form-secondary-button-color: rgba(41, 199, 24, 0.4);
}

@media (prefers-color-scheme: dark) {
    :root {
        --grey-color: #f3f2f1;
        --deeper-grey-color: #cdcdcd;
        --green-color: #217346;
        --blue-color: #00ff;
        --red-color: #ff0000;
        --black-color: #110000;

        --bg-color: #144362;
        --text-color: #fff;
        --editform-bg-color: #f3f2f1;
        --form-primary-button-color: #ed6930;
        --form-secondary-button-color: rgba(41, 199, 24, 0.4);
    }
}
